cloudflare:
    account_hash:
    account_id:
    api_token:

image_db:
  dsn:
  log_level: 2 # error

store:
  db_uri:
  db_name: nft_indexer

log:
  level: info

thumbnail:
  cache_period: 144h
  cache_retry_interval: 24h
