cache_store:
  db_uri:
  db_name:

ethereum:
  ws_url: wss://rinkeby.infura.io/ws/v3/<project_id>
  lastBlockKeyName: /autonomy/development/ethereum-last-stop-block

event_processor_server:
  address: localhost:8765

sentry:
  dsn: