server:
  port: :8089

environment: development

network:
  tezos: testnet
  ethereum: testnet
  bitmark: testnet

ethereum:
  worker_account_mnemonic:
  network: testnet
  rpc_url: https://rinkeby.infura.io/v3/<project_id>
  ws_url: wss://rinkeby.infura.io/ws/v3/<project_id>

store:
  db_uri: "mongodb://nft_indexer:password@localhost:27017/"
  db_name: nft_indexer

account:
  db_uri: host=localhost user=test password=test dbname=autonomy_account port=5432

bitmarksdk:
  apikey:

opensea:
  api_key:
  ratelimit:

log:
  level: info

notification:
  endpoint:  http://localhost:8809

cadence:
  host_port: localhost:7933
  domain: nft-indexer
  log_level: 0

bitmark:
  db_uri:

feed:
  endpoint: localhost:8888
  api_key:
