store:
  db_uri: mongodb://localhost:27017/
  db_name: nft_indexer

cadence:
  host_port: localhost:7933
  domain: nft-indexer

sentry:
  dsn:

ethereum:
  rpc_url: https://mainnet.infura.io/v3/<project-id>

environment: development

network:
  tezos: testnet
  ethereum: testnet
  bitmark: testnet

opensea:
  api_key:
  ratelimit:

fxhash:
  api_endpoint: https://api.fxhash.xyz/graphql

objkt:
  api_endpoint: https://data.objkt.com/v3/graphql

aws:
  region: ap-northeast-1

cache:
  bucket_name:

asset_server:
  server_url:
  secret_key:

ipfs:
  preferred_gateways:
  - nftstorage.link
  - ipfs.nftstorage.link
  - ipfs.bitmark.com
  - ipfs.test.bitmark.com
  - ipfs.io
