store:
  db_uri: mongodb://localhost:27017/
  db_name: nft_indexer

cadence:
  host_port: localhost:7933
  domain: nft-indexer
  log_level: 0

sentry:
  dsn:

ethereum:
  worker_account_mnemonic: opinion infant flip creek month absorb enact endless will glare engine still drastic adjust brush card physical uncover usage that false rotate vessel smile
  rpc_url: https://rinkeby.infura.io/v3/b36dfe0cf447495bae5aab26da0f9afc

network: testnet

opensea:
  api_key: 5831deaf9c684cc39489bfd4bff2ad81
  ratelimit: 1

fxhash:
  api_endpoint: https://api.fxhash.xyz/graphql

objkt:
  api_endpoint: https://api2.objkt.com/v1/graphql

aws:
  region: ap-northeast-1

cache:
  bucket_name:
