
server:
  network: tcp
  address: localhost:8765

events:
  process_delay_seconds:
    token_updated: 10

store:
  dsn:
  cache_expiry: 24h
  log_level: 1

environment: development
check_interval: 5s

log:
  level: debug

debug: true

sentry:
  dsn:

indexer_store:
  db_uri:
  db_name:

cadence:
  host_port:
  domain:
  log_level: 0

feed:
  endpoint:
  api_token:
  debug: true

account:
  db_uri:

network:
  tezos: testnet
  ethereum: testnet
  bitmark: testnet

notification:
  endpoint:

indexer_grpc:
  endpoint: localhost:8888