
environment: development

network:
  tezos: testnet
  ethereum: testnet
  bitmark: testnet

server:
  port: :8089
  api_token: api_token
  admin_api_token:
  secret_symmetric_key: PASSPHRASEWHICHNEEDSTOBE32BYTES

jwt:
  pubkeyfile: jwt.key.pub

store:
  db_uri: mongodb://localhost:27017/
  db_name: nft_indexer

cadence:
  host_port: localhost:7933
  domain: nft-indexer
  log_level: 0

sentry:
  dsn:

ens:
  rpc_url:

tezos:
  domain_api_url: https://api.tezos.domains/graphql

feralfile:
  api_url: https://feralfile.com

opensea:
  api_key:
  ratelimit:

fxhash:
  api_endpoint: https://api.fxhash.xyz/graphql

objkt:
  api_endpoint: https://data.objkt.com/v3/graphql
